/* ==========================================================================
   SASS Functions
   ========================================================================== */
/* ==========================================================================
   Common
   ========================================================================== */
/* line 42, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_tbl {
  display: table;
  width: 100%;
  height: inherit;
}
/* line 48, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_tbl .s_cl {
  width: 100%;
  height: inherit;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

/* line 58, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
hr {
  border-top: 1px solid #ccc;
}

/* ==========================================================================
   Pop up
   ========================================================================== */
/* line 66, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.pop_up_super_c {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0px;
  left: 0px;
  overflow: auto;
}

/* line 76, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.pop_up_tbl {
  width: 100%;
  height: 100%;
  display: table;
  z-index: 1999999;
  overflow-y: hidden;
  vertical-align: middle;
}

/* line 84, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.pop_up_cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 88, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.close_56 {
  background: url("../img/close56.png") no-repeat;
  width: 56px;
  height: 69px;
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

/*ada tambahan css buat pop up di admin_berkas.css*/
/* ==========================================================================
   Admin panel
   ========================================================================== */
/* line 105, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_orenji_header {
  background-color: #d75f07;
  display: block;
  width: 100%;
  height: 20px;
}

/* line 112, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_header {
  display: block;
  width: 100%;
  height: 70px;
  background-color: #123;
  background: #092023;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5MjAyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTU2NWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #092023 0%, #39565f 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #092023), color-stop(100%, #39565f));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #092023 0%, #39565f 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #092023 0%, #39565f 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #092023 0%, #39565f 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #092023 0%, #39565f 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#092023', endColorstr='#39565f',GradientType=0 );
  /* IE6-8 */
  border-bottom: 1px #5f767f solid;
}
/* line 117, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_header * {
  color: #fff;
}

/* line 138, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header {
  background: #606c88;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
  /* IE6-8 */
  display: block;
  width: 100%;
  height: 20px;
}
/* line 154, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header * {
  list-style-type: none;
  color: #b9b9b9;
  cursor: pointer;
}
/* line 160, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header nav > ul {
  padding-left: 0px;
}
/* line 163, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header nav > ul > li {
  display: inline-block;
}
/* line 165, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header nav > ul > li > a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  text-align: center;
}
/* line 173, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header nav > ul > li > ul {
  padding-left: 0px;
}
/* line 176, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header nav > ul > li > ul > li {
  display: block;
}
/* line 178, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_nav_header nav > ul > li > ul > li > a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 20px;
  text-align: center;
}

/* line 193, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav {
  margin: 0;
  padding: 0;
}

/* line 197, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li {
  float: left;
  list-style: none;
  font: 12px Tahoma, Arial;
}

/* line 203, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li a {
  display: block;
  position: relative;
  z-index: 90;
  background: #606c88;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606c88), color-stop(100%, #3f4c6b));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #606c88 0%, #3f4c6b 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #606c88 0%, #3f4c6b 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
  /* IE6-8 */
  padding: 0px 12px;
  text-decoration: none;
  border-right: 1px solid white;
  color: #EAFFED;
  white-space: nowrap;
}

/* line 226, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li a:hover {
  background: #1A4473;
}

/* line 229, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li ul {
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
  border-top: 1px solid white;
  position: relative;
}

/* line 237, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li ul li {
  float: none;
  display: inline;
}

/* line 242, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li ul li a {
  width: auto;
  background: #9F1B1B;
  position: relative;
  z-index: 90;
}

/* line 248, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_top_nav li ul li a:hover {
  background: #7F1616;
}

/* line 255, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_list_container * {
  list-style-type: none;
}
/* line 256, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_list_container li {
  display: inline-block;
}
/* line 259, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.s_list_container li > div {
  display: block;
  float: left;
}

/* ==========================================================================
   Mod
   ========================================================================== */
/* line 272, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf5dd;
}

/* Orange */
/*/

 
/* --- Style --- */
/* line 284, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default {
  border-top: 1px #2d444f solid;
  border-bottom: 1px #2d444f solid;
  border-right: 0px;
  border-left: 0px;
  min-height: 30px !important;
  background: #666e73;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NmU3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZDUyNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #666e73 0%, #4d5255 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #666e73), color-stop(100%, #4d5255));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #666e73 0%, #4d5255 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #666e73 0%, #4d5255 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #666e73 0%, #4d5255 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #666e73 0%, #4d5255 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666e73', endColorstr='#4d5255',GradientType=0 );
  /* IE6-8 */
  border-radius: 0px;
}
/* line 307, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
/* line 309, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffe6d1;
}
/* line 313, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  color: #ecf0f1;
}
/* line 318, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: #d45400;
  color: #ffe6d1;
}
/* line 325, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav .active > a, .navbar-default .navbar-nav .active > a:hover, .navbar-default .navbar-nav .active > a:focus {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  color: #ffe6d1;
  background-color: #9f3f00;
}
/* line 332, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav .open > a, .navbar-default .navbar-nav .open > a:hover, .navbar-default .navbar-nav .open > a:focus {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
  color: #ffe6d1;
  background-color: #9f3f00;
}
/* line 338, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav .open > a .caret, .navbar-default .navbar-nav .open > a:hover .caret, .navbar-default .navbar-nav .open > a:focus .caret {
  border-top-color: #ffe6d1;
  border-bottom-color: #ffe6d1;
}
/* line 342, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav > .dropdown > a {
  padding-top: 0px;
  padding-bottom: 0px;
  line-height: 30px;
}
/* line 346, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #ecf0f1;
  border-bottom-color: #ecf0f1;
}
/* line 350, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-nav > .dropdown > a:hover .caret, .navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #ffe6d1;
  border-bottom-color: #ffe6d1;
}
/* line 353, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-toggle {
  border-color: #9f3f00;
}
/* line 355, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #9f3f00;
}
/* line 357, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}

@media (max-width: 767px) {
  /* line 360, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  /* line 362, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffe6d1;
    background-color: #9f3f00;
  }
}
/* line 373, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
#editor {
  overflow: scroll;
  max-height: 300px;
}

/* line 375, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.f_table_suggestion tr td {
  cursor: pointer !important;
}

/* line 381, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
th {
  background: #ffffff;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZWJlYmViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M4YzhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, white 3%, #ebebeb 4%, #c8c8c8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, white), color-stop(4%, #ebebeb), color-stop(100%, #c8c8c8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 3%, #ebebeb 4%, #c8c8c8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 3%, #ebebeb 4%, #c8c8c8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 3%, #ebebeb 4%, #c8c8c8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 3%, #ebebeb 4%, #c8c8c8 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#c8c8c8',GradientType=0 );
  /* IE6-8 */
}

/* line 398, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
h3 {
  color: #EB5E00;
  font-weight: 700;
}

/* line 403, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

/* line 407, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
thead > tr > td {
  background-color: #d1e0e2;
  border: 1px solid #bdbdbd;
}

/* line 412, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.nav-tabs > li > a {
  border-top: 1px solid #676767 !important;
  border-bottom: 1px solid #676767 !important;
  border-left: 1px solid #676767 !important;
  border-right: 1px solid #676767 !important;
  border-radius: 4px 4px 4px 4px;
  background-color: #fff;
  border-radius: 0px !important;
  margin-right: -1px;
}

/* line 424, E:/xampp/htdocs/ilu/public/assets/css/brauch_style.scss */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  border-right: 1px solid #fff !important;
  background-color: #fff;
}
