/* ==========================================================================
   SASS Functions
   ========================================================================== */
 
@mixin dimension($val, $vil){
	width: $val;
	height: $vil; 
}

@mixin font-family($val){
	
}
 
@mixin box-sizing($val){
    box-sizing: $val;  
    -moz-box-sizing: $val; /*Firefox 1-3*/  
    -webkit-box-sizing: $val; /* Safari */  
}

@function substraction($some-number, $another-number){
  @return $some-number + $another-number
}

@mixin transition ($val){
	-webkit-transition: all ease-in-out $val;
    -moz-transition: all ease-in-out $val;
    -o-transition: all ease-in-out $val;
    transition: all ease-in-out $val;
}

@mixin border-radius($val){
	-webkit-border-radius: $val;
    -moz-border-radius: $val;
    -o-border-radius: $val;
    border-radius: $val;
}
  
/* ==========================================================================
   Common
   ========================================================================== */

.s_tbl{
	
	display: table;
	width: 100%;
	height: inherit;
	
	.s_cl{
		
		@include dimension(100%, inherit);
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		position: relative;
	}
}

hr {
	border-top: 1px solid #ccc;
}


/* ==========================================================================
   Pop up
   ========================================================================== */
.pop_up_super_c {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 999999;
	background-color: rgba(0,0,0,0.8);
	top: 0px;
	left: 0px;
	overflow: auto;
}
.pop_up_tbl {
	width: 100%;
	height: 100%;
	display: table;
	z-index: 1999999;
	overflow-y: hidden;
	vertical-align: middle;
}
.pop_up_cell {
	display: table-cell;
	vertical-align: middle;
}
.close_56 {
	background: url('../img/close56.png') no-repeat;
	width: 56px;
	height: 69px;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}
/*ada tambahan css buat pop up di admin_berkas.css*/


/* ==========================================================================
   Admin panel
   ========================================================================== */
   
.s_orenji_header {

	background-color:#d75f07;
	display: block;
	@include dimension(100%, 20px);
}
   
.s_top_header {
	display: block;
	@include dimension(100%, 70px);
	background-color: #123;
	
	*{
		color: #fff;
	}
	
	background: #092023; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA5MjAyMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzOTU2NWYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #092023 0%, #39565f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#092023), color-stop(100%,#39565f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #092023 0%,#39565f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #092023 0%,#39565f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #092023 0%,#39565f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #092023 0%,#39565f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#092023', endColorstr='#39565f',GradientType=0 ); /* IE6-8 */


	
	border-bottom: 1px #5f767f solid;

}

.s_nav_header {

	background: #606c88; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */

	display: block;
	@include dimension(100%, 20px);
	
	*{
		list-style-type: none;
		color: #b9b9b9;
		cursor: pointer;
	}
	nav {		
		> ul {
			padding-left: 0px;
			
			> li {
				display: inline-block;
				> a{
					display: block;
					padding-left: 20px;
					padding-right: 20px;
					line-height: 20px;
					text-align: center;
				}
				
					> ul {
						padding-left: 0px;
						
						> li {
							display: block;
							> a{
								display: block;
								padding-left: 20px;
								padding-right: 20px;
								line-height: 20px;
								text-align: center;
							}
						}
					}
			}
		}
	}
}

.s_top_nav
{	margin: 0;
	padding: 0}
	
	.s_top_nav li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial;
		}

	.s_top_nav li a
	{	display: block;
		position:relative;
		z-index:90;
	
	
	background: #606c88; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwNmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzZjRjNmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-8 */

		padding: 0px 12px;
		text-decoration: none;
		border-right: 1px solid white;
		color: #EAFFED;
		white-space: nowrap}

	.s_top_nav li a:hover
	{	background: #1A4473}
		
		.s_top_nav li ul
		{	margin: 0;
			padding: 0;
			position: absolute;
			visibility: hidden;
			border-top: 1px solid white;
		position:relative;}
		
		.s_top_nav li ul li
		{	float: none;
			display: inline;
		}
		
		.s_top_nav li ul li a
		{	width: auto;
			background: #9F1B1B;
		position:relative;
		z-index:90;}
		
		.s_top_nav li ul li a:hover
		{	background: #7F1616}

.s_title_n_control {

}

.s_list_container {
	* {list-style-type: none;}
	li {
		display: inline-block;
		
		> div{
			display: block;
			float: left; 
		}
	}
	
}


/* ==========================================================================
   Mod
   ========================================================================== */

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #fcf5dd;
}

/* Orange */
$bgDefault      : #e67e22;
$bgHighlight    : #9f3f00;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/

 
/* --- Style --- */
.navbar-default {

	border-top: 1px #2d444f solid;
	border-bottom: 1px #2d444f solid;
	border-right: 0px;
	border-left: 0px;

	min-height: 30px !important;

    background: #666e73; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY2NmU3MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZDUyNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #666e73 0%, #4d5255 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666e73), color-stop(100%,#4d5255)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #666e73 0%,#4d5255 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #666e73 0%,#4d5255 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #666e73 0%,#4d5255 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #666e73 0%,#4d5255 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666e73', endColorstr='#4d5255',GradientType=0 ); /* IE6-8 */


	border-radius: 0px;
	
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
            	padding-top: 0px;
            	padding-bottom: 0px;
            	line-height: 30px;
                color: $colDefault;
                &:hover, &:focus {
				
                background-color: #d45400;
                    color: $colHover;   }
                }
            }
        .active {
            > a, > a:hover, > a:focus {
            	padding-top: 0px;
            	padding-bottom: 0px;
            	line-height: 30px;
                color: $colHover;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
            	padding-top: 0px;
            	padding-bottom: 0px;
            	line-height: 30px;
                color: $colHover;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
            	padding-top: 0px;
            	padding-bottom: 0px;
            	line-height: 30px;
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $bgHighlight; }}
}







#editor {overflow:scroll; max-height:300px}

.f_table_suggestion tr td{
cursor: pointer !important;
}



th {
	//background: url('../img/mass_bg.gif');
	//background-repeat: repeat-x;
	background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQlIiBzdG9wLWNvbG9yPSIjZWJlYmViIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2M4YzhjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 3%, #ebebeb 4%, #c8c8c8 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,#ffffff), color-stop(4%,#ebebeb), color-stop(100%,#c8c8c8)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 3%,#ebebeb 4%,#c8c8c8 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 3%,#ebebeb 4%,#c8c8c8 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 3%,#ebebeb 4%,#c8c8c8 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 3%,#ebebeb 4%,#c8c8c8 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c8c8c8',GradientType=0 ); /* IE6-8 */

}


h3 {
	color: #EB5E00;
	font-weight: 700;
}